/*========mobile view==============*/

@media (min-width: 320px) and (max-width: 768px) {


/*wishlist start*/
    .wislist_prodImg{
        padding: 0 !important;
    }
    /*.wish_li{
        padding-left: 0;
        padding-right: 0;
    }*/
/*wishlist end*/
    .searchbutton, .searchbox {
    z-index: 9999;
}
    .shopping-cart.active {
    opacity: 1;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(1);
    transform-origin: right top 0;
    transform: scale(1);
    z-index: 99999;
}
.shopping-cart {
    background: white;
    width: 320px;
    position: absolute;
    top: 45px;
    right: 10px;
    border-radius: 3px;
    padding: 20px;
    z-index: 9999;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    opacity: 0;
    -webkit-transform-origin: right top 0;
    -webkit-transform: scale(0);
    transform-origin: right top 0;
    transform: scale(0);
}
    .walnut_mind_logo img {
    padding: 20px;
    float: left;
}
    .wallnut_loginInput {
    margin: 1rem 0 !important;
    width: 100%;
    margin: 10px;
    border: 1px solid #979797;
    border-radius: 25px;
    padding: 7px 10px;
}
.wallnut_loginPgBtn {
    padding: 10px 8px;
    text-align: center;
    border-radius: 8px;
    width: 8rem;
    background-color: #FFB300;
    display: block;
    color: white;
    font-weight: bold;
    margin-top: 8px !important;
    margin: 10px 0px 10px -30px;
}
.social_footer_ul{
    display: flex;
    justify-content: center;
}

 .walnut_mind_home_search_category {
    display: none;
}
.walnut_mind_dropdown_main_location {
    display: none;
}
.walnut_cart {
    position: absolute;
    bottom: 100%;
    /* right: 0%; */
    left: 530%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-size: 30px;
    top: -285%;
}
.walnut_whislist {
    padding: 0;
    margin: 16px 30px 0px 0px;
    position: absolute;
    top: -294%;
    left: 310%;
}
.walnut_user_area {
    width: 38px;
    height: 38px;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: -264%;
    left: 29%;
}
.walnut_nav_margin_left {
    margin-left: 0%;
    text-align: center;
}
.navbar-toggler-icon::focus{
	outline: none;
}
.navbar-toggler-icon::active{
	outline: none;
}
.wallnut_priceDetail {
   position: static;
    width: 88%;
    margin-top: 50px;
    margin-left: 24px;
    margin-right: 0;
    margin: 45px auto;
}
.txtR{
	text-align: right;
}
.txtL{
	text-align: left;
}
/*=======cart mobile table======*/

.wn_cartMobTable{
	border: 1px solid #979797;
	padding: 25px 15px; 
	margin: 25px 10px 25px 10px !important;
	visibility: visible;
	height: 100%;

}
.wn_cartMobTable table{
	width: 100%;
}
.wn_mobTR{
	padding: 10px 0 20px 0;
	border-bottom: 1px solid #373a40;
	margin: 0 8px 0 8px;
}
.mth3{
	font-size: 18px;
	font-weight: bold;
	margin-top: 12px;
}
.mth5{
	margin-top: 20px;
	font-size: 16px;
	margin-top: 12px;
}
.wallnut_img{
	margin-bottom: 30px;
	height: 100%;
}
.wallnut_cart{
	visibility: hidden;
    height: 0;
    margin: 0;
}


/*========products details=========*/
.wn_productdetails{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 0;
    margin: 15px;
  }
  .wn_prodDetails {
  	    margin-top: 20px !important;
  }
  .walnut_head_title h1 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    color: #00969C;
    font-size: 25px;
}
input[type="search"] {
    border-radius: 25px 0px 0 25px;
    -webkit-appearance: none;
    width: 60% !important;
    border: 1px solid orange;
}
.searchbutton {
    width: 45px !important;
    padding: 0;
    text-align: center;
    border-left: 1px solid #37a5bf;
    border-radius: 0 25px 25px 0;
    border: 1px solid orange;
}
.walnut_filtr_button button {
    width: 19% !important;
    float: right;
    border: none;
    height: 43px !important;
    outline: none;
    position: relative;
    /* display: none; */
    top: -11px;
    background: orange;
    color: #fff;
    font-weight: 600;
    right: -6px !important;
    font-size: 19px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #e6e6e6;
}
.example {
    position: absolute;
    top: -13px;
    text-align: center;
    margin: 0px 5px;
    width: 90%;
}
.walnut_filter {
       border: 0px solid #ffa50057 !important;
    height: 80px;
    margin: 10px 0% 10px 0% !important;
    border-radius: 20px;
    box-shadow: 0px 0px 0px 0px #e6e6e6 !important;
}
.xzoom-gallery, .xzoom-gallery2, .xzoom-gallery3, .xzoom-gallery4, .xzoom-gallery5 {
    border: 1px solid #cecece;
    margin-left: 5px;
    margin-bottom: 10px;
    display: inline-block !important;
    position: relative;
    bottom: 0;
}
.xzoom-thumbs {
     text-align: left; 
    position: static !important;
}

/*========account information*/

.ai_div {
  margin: 30px 16px 0px 0; 
}

.bodDiv{
	position: static !important;
	margin: 30px 16px 0px 0;
}

.redBtn{
	position: relative;
    left: 0px;
    top: 6px;
}

.bodDivMB{
	margin-bottom: 125px;
}

.sellBtn{
	position: relative;
    top: 850px;
}

/*=======invoice======*/
.wallnut_invoiceSec {
    display: flex;
    flex-direction: column;
}

.wn_orderStatus{
	font-size: 18px; 
}

.wallnut_invoiceTopSec{
	display: flex !important;
	flex-direction: column-reverse;
	max-height: 100%;
}

.wallnut_printBtn {
    margin-left: 0;
    position: relative;
    left: 58%;
    margin-bottom: 20px;
    padding: 7px 15px;
    text-align: center;
    border-radius: 8px;
    width: 8rem;
    background-color: #FFB300;
    color: white;
    font-weight: bold;
}

/*margin-left: 0px;
    position: relative;
    top: 985px;*/

.wn_customerDetailMob{
	display: flex;
}
.wallnut_invoiceCon{
	padding-right: 20px !important;
	padding-left: 20px !important;
	border:none;
	width: 100% !important;
}

.wallnut_fieldTitle{
	margin-top: 20px;
}

.wallnut_invoiceMethod{
	border-bottom: 1px solid #212121;
	padding-bottom: 20px;
}

.wallnut_invoiceTopSec {
    display: block;
}



.wallnut_invoiceMethod{
	padding-left: 0;
	margin-bottom: 30px;
	width: 100%;
}

.wallnut_invoiceAdd{
	border-bottom: 1px solid #212121;
	margin-bottom: 20px;
	padding-right: 0;
	width: 100%;

}



/*========checkout========*/
.wallnut_addressFormMob{
	margin-left: 17px !important;
    width: 90% !important;
    min-height: auto !important;
}
.wallnut_addressForm{
	/*height: 1000px !important;*/
}
.wallnut_personalInfoField{
	display: block !important;
}
.wallnut_formIpFields {
	width: 100%;
}






/*=======checkout_order======*/
.price_details{
	margin-left: 0;
	margin-right: 14px;

}

.wallnut_imgContainer{
	width: auto !important;
	padding-left: 0 !important;
	padding-right: 35px !important;
}

.wallnut_addressForm{
	width: 95%;
}


/*========tracking timeline=======*/

.wn_timeline li:before{
	height: 60px;
	width: 60px;
}

.containers {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    margin-bottom: 70px;
}

.wn_timeline li:before{
	line-height: 50px;
}



/*=====checkout timeline=======*/

.wallnut_timelineOptionActive, .wallnut_timelineOption{
	width: 85px;
    height: 85px;
} 

.wallnut_timleineText{
	font-size: 16px;
    margin: 0 20px;
    /* text-align: center; */
    justify-content: center;
    display: flex;
}

.banner p {
    font-size: 30px;
    color: #fff;
    text-transform: capitalize;
    font-family: sans-serif;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-weight: bold;
}
.circle {
    border: 6px dotted #FB7A00;
    width: 80px;
    height: 80px;
    line-height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: #000;
    font-size: 6px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto -25px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    animation: spin 7s linear infinite;
    position: relative;
}
#content h1 {
    text-transform: lowercase;
    font-weight: 700;
    margin: 0 0 40px 0;
    font-size: 16px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 38%;
    z-index: 9;
    top: 45%;
    right: 38%;
    color: #FB7A00;
    z-index: 999;
}
.overlay-desc h1 { 
    font-size: 13px;
    letter-spacing: 2px;
}
.walnut_boxdetail button {
     font-size: 10px;
}
.walnut_vendorbox h1 {
  margin-top: 0px;
    font-size: 22px;
    position: absolute;
    left: 0;
    right: 3%;
    align-items: center;
    top: 40%;
}
.walnut_vendorbox {
    height: auto;
    padding: 70px;
    /* margin: 15px; */
    margin: 0px 0px 0px 0px;
}
.walnut_just_mall {
    line-height: 30px !important;
    bottom: 0;
    padding: 60px;
    font-size: 26px !important;
    font-family: 'Arvo', serif;
    margin-right: 16px;
    margin: -22% 0% 0% -40% !important;
    width: 100%;
    color: #00969C !important;
    top: 30% !important;
}
.top_p {
    position: relative;
    top: 8%;
}
.right_p {
    position: relative;
    right: 3%;
}
.top_p {
    position: relative;
    top: 14%;
}
.left_p {
    position: relative;
    left: 0%;
}
.walnut_boxdetail button {
    border-radius: 100px;
    padding-top: 8px;
    padding-right: 10px;
    padding-bottom: 8px;
    padding-left: 10px;
   
}
.walnut_tb{
	position: relative;
    top: 12px;
}
.wn_timeline li {
    list-style: none;
    float: left;
    width: 24.3333%;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 19px;
}
.wn_timeline li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    background-color: #FB7A00;
    top: 30px;
    left: -50%;
    z-index: -999;
    transition: all ease-in-out .3s;
}

.trackbtn{
	margin-right: 5px;
}

/*checkout*/
.checkOtMr{
	margin-right: 0px !important;
}
.price_details{
	padding-right: 0;
    margin-left: 14px;
    margin-bottom: 20px;
}
.wallnut_orderDetail h3{
	text-align: center !important;
}

/*STORELIST
*/

.walnut_prologo{
	width: 55px;
	height: 55px;
}

.walnut_prodetail h3 a {
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}


}
/*mobile view end*/


/*Desktop view*/
@media (min-width: 1200px) and (max-width: 1600px) {


.wallnut_priceDetail {
    position: absolute;
    right: 0;
        top: 39%;
}
.walnut_nav_margin_left {
    margin-left: 65%;
}
.walnut_mind_dropdown_main_category::after {
    content: "";
    position: absolute;
    right: 2.8em;
    top: 18px;
    border: 0.3em solid #ffffff;
    border-color: #ffffff transparent transparent transparent;
    transition: .4s all ease-in-out;
}
.walnut_mind_search_icon {
    position: absolute;
    float: right;
    width: 62px;
    height: 55px;
    top: 2%;
    right: 0;
}
.walnut_mind_home_search_container {
    width: 300px;
    display: block;
    margin: 0 auto;
}

}
/*tab view*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

.wallnut_priceDetail {
    position: absolute;
    right: 0;
    top: 30%;
    border: 1px solid #dfdfdf;
    margin: 10px;
    margin-right: 10px;
    padding: 20px;
    width: 20%;
    background-color: #fafafa;
}

.redBtn {
	position: relative;
    left: 148px !important;
    bottom: 5px !important;
    padding: 8px 35px;
    border-radius: 20px;
    background-color: #FB7A00;
    color: #fff;
}

.fa-envelope {
    position: relative;
    bottom: 50px;
    left: -198px !important;
}

.fa-user {
    position: relative;
    bottom: 50px;
    left: -198px !important;
}

.sellBtn {
    padding: 8px 22px !important;
    
}

.totalO {
	position: relative;
    left: 40% !important;
}
.wallnut_timelineOption {
    width: 205px;
   height: 150px;
    border-radius: 50%;
    border: 1px solid #FB7A00;
    background-color: #FB7A00;
    text-align: center;
    vertical-align: center;
}
.wallnut_timelineOptionActive{
	  width: 205px;
	  height: 150px;
}
.xzoom-thumbs {
    text-align: left;
    position: absolute;
    top: 4%;
    left: 0%;
}
}

@media (min-width: 768px) and (max-width: 1024px) {
    .walnut_user_area {
    width: 38px;
    height: 38px;
    position: absolute;
    cursor: pointer;
    left: 0;
    top: 30%;
    left: -188%;
}
    .walnut_cart {
    position: absolute;
    bottom: 100%;
    /* right: 0%; */
    left: 180%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-size: 30px;
    top: 25%;
}
.walnut_whislist {
    padding: 0;
    margin: 16px 30px 0px 0px;
    position: absolute;
    top: 22%;
    left: 10%;
}
	.brand .heading h2 {
    font-size: 30px !important;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 0;
}

.fa-user {
    position: relative;
    bottom: 50px;
    left: -318px !important;
}
.fa-envelope {
    position: relative;
    bottom: 50px;
    left: -318px !important;
}

.wallnut_printBtn {
     margin-left: 0; 
    padding: 10px 8px;
    text-align: center;
    border-radius: 8px;
    width: 8rem;
    background-color: #FFB300;
    color: white;
    font-weight: bold;
}

.searchbutton {
    width: 50px;
    padding: 0;
    text-align: center;
    border-left: 1px solid #37a5bf;
    border-radius: 0 25px 25px 0;
    border: 1px solid orange;
}
input[type="search"] {
    border-radius: 25px 0px 0 25px;
    -webkit-appearance: none;
    width: 90% !important;
    border: 1px solid orange;
}
.walnut_filtr_button button {
    width: 70% !important;
    float: right;
    border: none;
    height: 43px !important;
    outline: none;
    position: relative;
    /* display: none; */
    top: -11px;
    background: orange;
    color: #fff;
    font-weight: 600;
    right: -6px !important;
    font-size: 19px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 1px #e6e6e6;
}
.xzoom-thumbs {
    text-align: left;
    position: absolute;
    top: 5% !important;
}
	.totalO {
    position: relative;
    left: 39%;
    margin-bottom: 30px;
    height: 150px;
    width: 150px;
    padding: 30px;
    border-radius: 50%;
    border: 8px solid #a6f6f1;
    text-align: center;
}
.pendingO {
    position: relative;
    left: 39%;
    margin-bottom: 30px;
    height: 150px;
    width: 150px;
    padding: 30px;
    border-radius: 50%;
    border: 8px solid #ffe05d;
    text-align: center;
}
.walnut_nav_margin_left {
    margin-left: 55%;
}
input#walnut_mind_search_bar {
    margin: 4px auto;
    width: 100%;
    height: 45px;
    padding: 0 0px;
    font-size: 12px;
    border: 1px solid #d0cfce00;
    outline: none;
    border-radius: 100px;
    background: #FB7A00;
}
.walnut_mind_home_search_container {
    width: 200px;
    display: block;
    margin: 0 auto;
}

}