*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body{
  display: flex;
  flex-direction: column;
  height: 100vh;
}

p,h1,h2,h3,h4,h5,h6,span,a,li{
  font-family: font-family: 'Nunito Sans', sans-serif !important;
}
/*================color class====================*/
.walnut_orange{
  background-color: #FB7A00 !important;
}
.walnut_mind_logo img{
      padding: 20px;
}
/*=======search css=========*/
.walnut_mind_home_search_category{
  border: 1px solid #FB7A00;
    margin-top: 29px;
    height: 55px;
    border-radius: 50px;
    background: #99e5e0;
    box-shadow: 0px 0px 6px -5px #83CDC8;
}
.walnut_mind_home_search_container {
  width: 330px;
  display: block;
  margin: 0 auto;
}

input#walnut_mind_search_bar {
margin: 4px auto;
    width: 100%;
    height: 45px;
    padding: 0 0px;
    font-size: 1rem;
    border: 1px solid #d0cfce00;
    outline: none;
    border-radius: 100px;
    background: #FB7A00;
}
input#walnut_mind_search_bar::placeholder{
  padding-left: 10px;
  color: #fff;
}
input#walnut_mind_search_bar:focus {
  /*border: 1px solid #008ABF;*/
  transition: 0.35s ease;
  color: #000;
}
input#walnut_mind_search_bar:focus::-webkit-input-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#walnut_mind_search_bar:focus::-moz-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}
input#walnut_mind_search_bar:focus:-ms-placeholder {
  transition: opacity 0.45s ease;
  opacity: 0;
}

.walnut_mind_search_icon {
  position: relative;
  float: right;
  width: 75px;
  height: 75px;
  top: -62px;
  right: -45px;
}
.search_right_border{
    border-right: 2px solid #e06700;
    height: 53px;
}

/*=====dropdown css=======*/
.walnut_mind_dropdown_main_category {
     margin-top: 0vh;
    min-width: 20em;
  position: relative;
  display: inline-block;
  margin-right: 1em;
  min-height: 2em;
  max-height: 2em;
  overflow: hidden;
  top: .5em;
  cursor: pointer;
  text-align: left;
  white-space: nowrap;
  color: #444;
  outline: none;
  border: .06em solid transparent;
  border-radius: 1em;
  /*background-color: #cde4f5;*/
  transition: 0.3s all ease-in-out;
  z-index: 9999;
}
.walnut_mind_dropdown_main_category input:focus + label {
  background: #def;
}
.walnut_mind_dropdown_main_category input {
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute;
  opacity: 0.01;
}
.walnut_mind_dropdown_main_category label {
  border-top: .06em solid #d9d9d9;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
}
.walnut_mind_dropdown_main_category label:nth-child(2) {
      margin-top: 1px;
    border-top: .06em solid #d9d9d900;
}
.walnut_mind_dropdown_main_category input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.walnut_mind_dropdown_main_category input:checked + label:nth-child(2) {
  margin-top: 3px;
  position: relative;
}
.walnut_mind_dropdown_main_category::after {
 content: "";
    position: absolute;
    right: 0.8em;
    top: 18px;
    border: 0.3em solid #ffffff;
    border-color: #ffffff transparent transparent transparent;
    transition: .4s all ease-in-out;
}
.walnut_mind_dropdown_main_category.expanded {
  /*border: 0.06em solid #3694d7;*/
  background: #fff;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(214, 214, 214, 0.78);
  padding: 0;
  max-height: 15em;
  z-index: 9999;
}
.walnut_mind_dropdown_main_category.expanded label {
     border-top: .06em solid #d9d9d957;
}
.walnut_mind_dropdown_main_category.expanded label:hover {
  color: #3694d7;
}
.walnut_mind_dropdown_main_category.expanded input:checked + label {
  color: #3694d7;
}
.walnut_mind_dropdown_main_category.expanded::after {
  transform: rotate(-180deg);
  top: .55em;
}
/*=============location dropdown================*/
/*=====dropdown css=======*/
.walnut_mind_dropdown_main_location {
        margin-top: 0vh;
    min-width: 20em;
    position: absolute;
    display: inline-block;
    margin-right: 0em;
    /* min-height: 2em; */
    /* max-height: 2em; */
    overflow: hidden;
    min-height: 61px;
    max-height: 61px;
    top: -4px;
    cursor: pointer;
    text-align: left;
    white-space: nowrap;
    color: #444;
    outline: none;
    /* border: .06em solid transparent; */
    /* border-radius: 15px; */
    /* background-color: #F7800F; */
    transition: 0.3s all ease-in-out;
    padding: 16px;
     /*box-shadow: 0px 0px 1px 1px #FF9800;*/
}
.walnut_mind_dropdown_main_location input:focus + label {
  background: #def;
}
.walnut_mind_dropdown_main_location input {
  width: 1px;
  height: 1px;
  display: inline-block;
  position: absolute;
  opacity: 0.01;
}
.walnut_mind_dropdown_main_location label {
  border-top: .06em solid #F7800F;
  display: block;
  height: 2em;
  line-height: 2em;
  padding-left: 1em;
  padding-right: 3em;
  cursor: pointer;
  position: relative;
  transition: 0.3s color ease-in-out;
}
.walnut_mind_dropdown_main_location label:nth-child(2) {
margin-top: 0px;
    border-top: .06em solid #d9d9d900;
}
.walnut_mind_dropdown_main_location input:checked + label {
  display: block;
  border-top: none;
  position: absolute;
  top: 0;
  width: 100%;
}
.walnut_mind_dropdown_main_location input:checked + label:nth-child(2) {
  margin-top: 2px;
  position: relative;
}
.walnut_mind_dropdown_main_location::after {
  content: "";
    position: absolute;
    right: 0.8em;
    top: 30px;
    border: 0.3em solid #ffffff;
    border-color: #ffffff transparent transparent transparent;
    transition: .4s all ease-in-out;
}
.walnut_mind_dropdown_main_location.expanded {
  border: 0.06em solid #3694d7;
  background: #fff;
    background: #fff;
    box-shadow: 0px 0px 8px rgba(214, 214, 214, 0.78);
  padding: 0;
  max-height: 15em;
  z-index: 9;
}
.walnut_mind_dropdown_main_location.expanded label {
     border-top: .06em solid #d9d9d957;
}
.walnut_mind_dropdown_main_location.expanded label:hover {
  color: #3694d7;
}
.walnut_mind_dropdown_main_location.expanded input:checked + label {
  color: #3694d7;
}
.walnut_mind_dropdown_main_location.expanded::after {
  transform: rotate(-180deg);
  top: .55em;
}
/*=====user css=====*/
.walnut_user{

    margin-top: 34px;
}
.walnut_user_area {
      width: 38px;
    height: 38px;
    position: absolute;
    cursor: pointer;
    left: 0;
}
.walnut_user_area > .Walnut_user_avatar {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 6px -5px #83CDC8;
}
.walnut_user_area > .Walnut_user_avatar > img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.Walnut_user_dropdown {
  display: none;
  position: absolute;
  border-radius: 7px;
  background: #fff;
  box-shadow: 0px 0px 8px rgba(214, 214, 214, 0.78);
  list-style: none;
  padding: 0 20px;
  width: 150px;
  margin: 0;
  top: 70px;
  right: 0%;
}
.Walnut_user_dropdown:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  right: 0px;
  box-sizing: border-box;
  border: 7px solid black;
  border-color: transparent transparent #ffffff #ffffff;
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
}
.Walnut_user_dropdown.walnut_open {
  display: block;
  z-index: 9999;
}
.Walnut_user_dropdown > li {
  padding: 0px;
  line-height: 47px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.17);
}
.Walnut_user_dropdown > li:last-child {
  border-bottom: 0px;
}
.Walnut_user_dropdown > li > a {
  font-size: 13px;
  padding: 15px 25px 16px 10px;
  text-decoration: none;
  color: #1787e0;
  transition: all .2s ease-out;
}
.Walnut_user_dropdown span {
  background: #16d67a;
  padding: 3px 10px;
  color: #fff;
  border-radius: 30px;
  font-size: 13px;
}
.Walnut_user_dropdown > li:before {
  content: '';
  width: 0px;
  height: 40px;
  position: absolute;
  background: #99e5e0;
  margin-top: 4px;
  border-radius: 0 1px 1px 0;
  left: 0px;
  transition: all .2s ease;
}
.Walnut_user_dropdown > li:hover:before {
  width: 5px;
  border-radius: 30px;
}
.Walnut_user_dropdown > li a:hover {
  margin-left: 5px;
}

/*====add cart css====
#walnut_ex4 .walnut_mind_P1[data-count]:after {
    position: absolute;
    right: 10%;
    top: 11%;
    content: attr(data-count);
    font-size: 40%;
    padding: 0.2em;
    border-radius: 50%;
    line-height: 1em;
    color: white;
    background: #99e5e0;
    text-align: center;
    min-width: 18px;
}
.walnut_cartstyle {
       margin-top: 23px;
    float: right;
    position: relative;
    left: 80px;
}
/*=whislist css===*/
.walnut_whislist{
  padding: 0;
 margin: 16px 30px 0px 0px;
}
.p-0{
  padding: 0;
}

/*==navbar css====*/
.walnut_nav_margin_left{
      margin-left: 70%;
}
.mll{
  margin-left: 60%;
}
.walnut_bg_color{
  background-color: #99e5e0;
}
.walnut_nav_margin_left li a{
    color: #fff;
    font-size: 18px;
    margin-right: 15px;
    font-weight: 400;
    letter-spacing: 1px;
}
.walnut_mind_home_head{
        height: 38px;
}

/*======menu dropdown css======*/


.custom-select-wrapper {
  position: relative;
  display: inline-block;
  user-select: none;
}
  .custom-select-wrapper select {
    display: none;
  }
  .custom-select {
    position: relative;
    display: inline-block;
  }
    .custom-select-trigger {
   box-shadow: 5px 5px 30px -10px #d38900;
    position: relative;
    display: block;
    width: 310px;
    height: 70px;
    padding: 0px 51px 1px 25px;
    font-size: 22px;
    font-weight: 300;
    color: #fff;
    font-weight: 400;
    line-height: 65px;
    background: #FB7A00;
    border-radius: 22px;
    cursor: pointer;
    top: -24px;
    right: 13px;
    border: 1px solid #ff8b2a;
    }
      .custom-select-trigger:after {
        position: absolute;
        display: block;
        content: '';
        width: 10px; height: 10px;
        top: 50%; right: 25px;
        margin-top: -3px;
        border-bottom: 1px solid #fff;
        border-right: 1px solid #fff;
        transform: rotate(45deg) translateY(-50%);
        transition: all .4s ease-in-out;
        transform-origin: 50% 0;
      }
      .custom-select.opened .custom-select-trigger:after {
        margin-top: 3px;
        transform: rotate(-135deg) translateY(-50%);
      }
  .custom-options {
    position: absolute;
    display: block;
    top: 100%; left: 0; right: 0;
    min-width: 100%;
    margin: 15px 0;
    border: 1px solid #b5b5b5;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0,0,0,.07);
    background: #fff;
    transition: all .4s ease-in-out;
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
  }
  .custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0);
    z-index: 9;
  }
    .custom-options:before {
      position: absolute;
      display: block;
      content: '';
      bottom: 100%; right: 25px;
      width: 7px; height: 7px;
      margin-bottom: -4px;
      border-top: 1px solid #b5b5b5;
      border-left: 1px solid #b5b5b5;
      background: #fff;
      transform: rotate(45deg);
      transition: all .4s ease-in-out;
    }
    .option-hover:before {
      background: #f9f9f9;
    }
    .custom-option {
      position: relative;
      display: block;
      padding: 0 22px;
      border-bottom: 1px solid #b5b5b5;
      font-size: 18px;
      font-weight: 600;
      color: #b5b5b5;
      line-height: 47px;
      cursor: pointer;
      transition: all .4s ease-in-out;
    }
    .custom-option:first-of-type {
      border-radius: 4px 4px 0 0;
    }
    .custom-option:last-of-type {
      border-bottom: 0;
      border-radius: 0 0 4px 4px;
    }
    .custom-option:hover,
    .custom-option.selection {
      background: #f9f9f9;
    }
        .custom-select {
    display: inline-block;
    width: 88% !important;
    height: calc(2.25rem + 2px);
    padding: .375rem 1.75rem .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url(data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E) no-repeat right .75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/*========background-image=======*/

.walnut_mind_home_bg_image{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.52), rgba(0, 0, 0, 0.3)), url(../images/bg.jpg);
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 12px 0px 40px 0px;
    /*height: 100vh;*/
}
/*======video css=====*/
.walnut_video_container {
  position: relative;
/*margin: 50px 0px 0px 0px;*/
    width: 100%;
}
.right_p{
      position: relative;
    right: 7%;
}
.left_p{
   position: relative;
    left: 7%;
}
.top_p{
  position: relative;
  top: 20%;
}
#content h1 {
    text-transform: lowercase;
    font-weight: 700;
    /* margin: 0 0 40px 0; */
    font-size: 50px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 40%;
    z-index: 9;
    top: 45%;
    right: 40%;
    color: #47908b;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
  border-radius: 20px;
}
.overlay-desc {
    background: rgb(255 181 37 / 30%);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: left;
    justify-content: center;
    border-radius: 20px;
}
.overlay-desc h1 {
       color: white;
    font-family: 'Nobile', sans-serif;
    font-size: 40px;
    text-align: right;
    position: absolute;
    /* bottom: 0; */
    top: 32%;
    font-weight: bold;
    letter-spacing: 5px;
    text-shadow: 0px 0px 1px black;
}

.fa-stack {
    left: 60px !important;
    display: inline-block;
    height: 2em;
    line-height: 2em;
    position: relative;
    vertical-align: middle;
    width: 2.5em;
}

/*=====circle css=====*/
#content {
  margin: 0px auto;
  text-align: center;
  width: 600px;
}
#content h1 {
    text-transform: lowercase;
    font-weight: 700;
    /* margin: 0 0 40px 0; */
    font-size: 50px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    justify-content: center;
    left: 38%;
    z-index: 9;
    top: 45%;
    right: 38%;
    color: #FB7A00;
    z-index: 999;
}
.circle {
  border: 6px dotted #FB7A00;
     width: 200px;
    height: 200px;
    line-height: 200px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    text-align: center;
    color: #000;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 auto -25px;
     box-shadow: 0 5px 15px rgba(0,0,0,0.3);
      animation:spin 7s linear infinite;
      position: relative;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.blue {
  background-color: #fff;
    z-index: 99;
    filter: blur(2px);
}
.banner {
  width: 100%;
  height: 300px;
  line-height: 330px;
  background-size: cover;
  background-image: linear-gradient(#99e5e02b, #99e5e012), url(../images/banner.jpg);
  /*position: absolute;*/
  text-align: center;
  border-radius: 10px;
}
.banner p {
  font-size: 70px;
  color: #fff;
  text-transform: capitalize;
  font-family: sans-serif;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  line-height: normal;   
  font-weight: bold;  

}
.banner-padding{
  padding: 20px;
}
.walnut_backgroundvendor {
    background-image: linear-gradient(to bottom, rgb(255 181 37 / 30%), #ff9c086b), url(../images/mancover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* box-shadow: 0px 3px 15px #0f6cff99; */
    transition: .3s ease-in-out;
}
.walnut_backgroundvendortwo {
    background-image: linear-gradient(to bottom, rgb(255 181 37 / 30%), #ff9c086b), url(../images/clockcover.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* box-shadow: 0px 3px 15px #0f6cff99; */
    transition: .3s ease-in-out;
}
.walnut_backgroundvendorthree {
    background-image: linear-gradient(to bottom, rgb(255 181 37 / 30%), #ff9c086b), url(../images/mobilecover.jpg);
    background-position: center center;.
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* box-shadow: 0px 3px 15px #0f6cff99; */
    transition: .3s ease-in-out;
}
.walnut_backgroundvendorfour {
    background-image: linear-gradient(to bottom, rgb(255 181 37 / 30%), #ff9c086b), url(../images/women.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    /* box-shadow: 0px 3px 15px #0f6cff99; */
    transition: .3s ease-in-out;
}
.walnut_vendorbox {
    height: 300px;
    /* border: 1px solid #000; */
    padding: 50px;
    /* margin: 15px; */
    margin: 0px 20px 30px 0px;
}
.walnut_vendorbox h1{
    text-shadow: 0px 1px 0px #000000;
    font-size: 3.5rem;
    color: #fff;
    text-align: center;
    margin-top: 50px;
    font-weight: 675;
}
.walnut_boxdetail button {
    border-radius: 100px;
    padding-top: 14px;
    padding-right: 40px;
    padding-bottom: 14px;
    padding-left: 40px;
    border: none;
    border: 1px solid #FB7A00;
    background: linear-gradient(to right, #FB7A00 50%, white 70%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;  
    position: relative; 
    top: 57%;
}
.walnut_boxdetail button:hover {
    background-position: left bottom;
    background-color: #0f6cff;
    color: #fff;
    transition: background .3s,border .3s,border-radius .3s,box-shadow .3s,-webkit-border-radius .3s,-webkit-box-shadow .3s;
}

.walnut_just_mall{
  
    line-height: 60px !important;
    bottom: 0;
    font-family: 'Arvo', serif;
    top: 70px !important;
    margin-right: 16px;
    margin: -13%;
    width: 50%;
    color: #00969C !important;

}

/*===owl crousal===*/
div img{ object-fit: cover; max-width: 100%;}
#owl-demo .item{
    background: #fff;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
       border-radius: 0px;
    text-align: center;
    border: 1px solid #FFC56D;
    box-shadow: 0px 0px 2px 1px #ffc56dad;
}


/* 
*   Core Owl Carousel CSS File
* v1.3.3
*/

/* clearfix */
.owl-carousel .owl-wrapper:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
/* display none until init */
.owl-carousel {
  display: none;
  position: relative;
  width: 100%;
  -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper {
  display: none;
  position: relative;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer {
  overflow: hidden;
  position: relative;
  width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
.owl-carousel .owl-item {
  float: left;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-controls {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* mouse grab icon */
.grabbing {
  cursor: url(grabbing.png) 8 8, move;
}
/* fix */
.owl-carousel .owl-wrapper, .owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}


/* PRODUCTS SLIDER = */
.owl-item .item {
  margin: 0 10px;
}
.slider-items {
  position: relative;
}
.slider-items .item {
  text-align: center;
}
.owl-buttons {
  opacity: 1;
}
.product-flexslider {
  margin:5px -10px;
}


.owl-theme .owl-controls {
  margin-top: 10px;
  text-align: center;
}
.owl-pagination {
  top: -26px;
  text-align: center;
  position: absolute;
  right: 15px;
  background: #fff;
  padding-left: 10px;
  display: none;
}
.owl-theme .owl-controls .owl-page {
  display: inline-block;
  zoom: 1;
}
.owl-controls .owl-page, .owl-controls .owl-buttons div {
  cursor: pointer;
}
.owl-theme .owl-controls .owl-page span {
  display: block;
  width: 8px;
  height: 15px;
  margin: 5px 2px;
  filter: Alpha(Opacity=50);
}
.owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span {
  filter: Alpha(Opacity=100);
  opacity: 1;
}
.owl-theme .owl-controls .owl-buttons div {
  color: #FFF;
  display: inline-block;
  zoom: 1;
  margin: 5px;
  padding: 1px 0;
  font-size: 12px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #869791;
  filter: Alpha(Opacity=50);
  opacity: 1;
  display: none;
}
.slider-items .owl-buttons a {
  background: #fff;
  display: block;
  height: 38px;
  margin: 0px 0 0 -30px;
  position: absolute;
  top: 50%;
  width: 38px;
  z-index: 5;
  color: #888;
  border: 1px #eaeaea solid;
}
.slider-items .owl-buttons .owl-prev a:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\f104";
  text-transform: none;
  font-size: 26px;
  line-height: 35px;
  padding: 6px 6px 6px 6px;
}
.slider-items .owl-buttons .owl-next a {
  top: 50%;
  padding: 2px;
}
.slider-items .owl-buttons .owl-next a:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-weight: normal;
  speak: none;
  -webkit-font-smoothing: antialiased;
  content: "\f105";
  text-transform: none;
  font-size: 24px;
  padding: 6px 6px 6px 6px;
  line-height: 30px;
}
.slider-items .owl-buttons .owl-next {
  position: absolute;
  right: -32px;
  top: 30%;
}
.slider-items .owl-buttons .owl-prev {
  position: absolute;
  left: -13px;
  top: 30%;
}
.owl-carousel .col-lg-4, .owl-carousel .col-md-3, .owl-carousel .col-sm-4, .owl-carousel .col-xs-6-12{ width:100%}

.owl-carousel .product{padding:0px!important;}

.owl-carousel .product .product_info {top:32%!important;}

section.home-instagram.wow.fadeIn div.owl-pagination { right: 0; }


/*==addcart css====*/
.page-wrapper {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-wrapper button {
   padding: 5px;
    border: none;
    border: 1px solid #FB7A00;
    background: linear-gradient(to right, #FB7A00 100%, white 0%);
    position: relative;
    outline: none;
    border-radius: 5px;
    color: #ffffff;
    width: 150px;
    height: 45px;
    font-size: 15px;
    margin-top: 20px;
    cursor: pointer;

}

.page-wrapper button .cart-item {
  position: absolute;
  height: 24px;
  width: 24px;
  top: -10px;
  right: -10px;
}
.page-wrapper button .cart-item:before {
    content: '1';
    display: block;
    line-height: 24px;
    height: 24px;
    width: 24px;
    font-size: 12px;
    font-weight: 600;
    background: #ff9d3f;
    color: white;
    border-radius: 20px;
    text-align: center;
    border: 1px solid #f69f00;
}
.page-wrapper button.sendtocart .cart-item {
  display: block;
  animation: xAxis 2s forwards cubic-bezier(1, 0.44, 0.84, 0.165);
}
.page-wrapper button.sendtocart .cart-item:before {
  animation: yAxis 1s alternate forwards cubic-bezier(0.165, 0.84, 0.44, 1);
}

.walnut_cart {
    position: absolute;
    top: 21%;
    right: 0%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-size: 30px;
}
.walnut_cart i {
  font-size: 25px;
  color: white;
}
.walnut_cart:before {
  content: attr(data-totalitems);
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  top: -4px;
  right: -12px;
      background: #68c3bd;
  line-height: 24px;
  padding: 0 5px;
  height: 24px;
  min-width: 24px;
  color: white;
  text-align: center;
  border-radius: 24px;
}
.walnut_cart.shake {
  animation: shakeCart .4s ease-in-out forwards;
}

@keyframes xAxis {
  100% {
    transform: translateX(calc(50vw - 105px));
  }
}
@keyframes yAxis {
  100% {
    transform: translateY(calc(-50vh + 75px));
  }
}
@keyframes shakeCart {
  25% {
    transform: translateX(6px);
  }
  50% {
    transform: translateX(-4px);
  }
  75% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(0);
  }
}
.walnut_head_title h1{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
      color: #00969C;
      /*margin-left: 20px;*/
}

#owl-demo2 .item {
    background: #fff;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
   border-radius: 0px;
    text-align: center;
    border: 1px solid #FFC56D;
    box-shadow: 0px 0px 2px 1px #ffc56dad;
}
.brand:hover{
      /*box-shadow: 0px 0px 40px #99e5e0bd;*/
  transform: scale(1.05,1.05);
  cursor: pointer;
}
.brand{
  /*box-shadow: 0px 3px 15px rgba(0,0,0,0.2);*/
  transition: .3s;
  margin: 30px auto 0;
}
.brand img{
    border-radius: 10px;
}
.brand img:hover{
    border-radius: 0px;
}
#owl-demo5 .item {
    background: #fff;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 0px;
    text-align: center;
    border: 1px solid #FFC56D;
    box-shadow: 0px 0px 2px 1px #ffc56dad;
}
.ban{
  margin-top: 50px;
    margin-bottom: 50px;
}
.bg-gray-100 {
    --bg-opacity: 1;
    background-color: #f7fafc;
    background-color: #99e5e08a !important;
}

.text-indigo-600 {
    --text-opacity: 1;
    color: #5a67d8;
    color: #3d736f8a !important;
}
/*footer*/
.col_white_amrc { color:#FFB300;}
footer { width:100%;     background-color: #00969C;  padding:10px 0px 25px 0px ; margin-top: auto;}
.pt2 { padding-top:40px ; margin-bottom:20px ;}
footer p { font-size:13px; color:#fff; padding-bottom:0px; margin-bottom:8px;}
.mb10 { padding-bottom:15px ;}
.footer_ul_amrc { margin:0px ; list-style-type:none ; font-size:14px; padding:0px 0px 10px 0px ; }
.footer_ul_amrc li {padding:0px 0px 5px 0px;}
.footer_ul_amrc li a{ color:#fff;}
.footer_ul_amrc li a:hover{ color:#fff; text-decoration:none;}
.fleft { float:left;}
.padding-right { padding-right:10px; }

.footer_ul2_amrc {margin:0px; list-style-type:none; padding:0px;}
.footer_ul2_amrc li p { display:table; }
.footer_ul2_amrc li a:hover { text-decoration:none;}
.footer_ul2_amrc li i { margin-top:5px;}

.bottom_border { 
  border-bottom: 1px solid #d8d8d8;
    padding: 20px 10px 10px 0px;

}
.foote_bottom_ul_amrc {
  list-style-type:none;
  padding:0px;
  display:table;
  margin-top: 10px;
  margin-right: auto;
  margin-bottom: 10px;
  margin-left: auto;
}
.foote_bottom_ul_amrc li { display:inline;}
.foote_bottom_ul_amrc li a { color:#999; margin:0 12px;}

.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none;  }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#fff;  padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

input#walnut_mind_search_bar:focus {
    margin-left: 20px !important;
    /* border: 1px solid #008ABF; */
    transition: 0.35s ease;
    color: #000;
    /*tab-indent: 10px;*/
    font-size: 20px !important;
}
.navbar-nav li a:hover{
   transform: scale(1.2);
   transition: transform .2s;
   color: #fff !important;
}
.navbar-nav li a{
    transition: transform .2s;
}
.walnut_mind_home_head ul li{
    text-decoration: none;
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    position: relative;
    right: 0px;
    top: -7px;
    text-align: right;
    white-space: 30px;
}
.walnut_mind_home_head ul{
  text-align: right;
}
.walnut_mind_home_head ul li a{
      color: #fff;
      font-size: 20px;
}
.walnut_menu_height{
  height: 113px;
}
.walnut_tb{
  position: relative;
  top: -30px;
}
.walnut_head_title h1:after{
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: #00969C;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 3px;
}
.walnut_price span{
  color: #000;
  position: relative;
    top: 6px;

}
.walnut_wish{
  width: 19%;
  position: absolute;
  right: 15px;
  top: 15px;
}

.walnut_foot{
    margin: 15px 0px 0px -28px !important;
    list-style-type: none !important;
}
.walnut_store_list_banner img{
  height: 300px;
}
.walnut_filter{
    border: 1px solid #ffa50057;
    height: 80px;
    margin: 20px 15% 20px 15%;
    border-radius: 20px;
    box-shadow: 0px 0px 5px 1px #e6e6e6;
}


input[type="search"] {
  box-sizing: border-box;
}


.searchbutton, .searchbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  box-sizing: border-box;
  -webkit-transition: background-color, 0.3s;
  transition: background-color, 0.3s;
  font-size: 20px;
  line-height: 1;
  color: #666;
  border-radius: 0;
  float: left;
  border: none;
  height: 50px;
  outline: none;
  background: #f5f5f5;
}

input[type="search"] {
  border-radius: 25px 0px 0 25px;
  -webkit-appearance: none;
  width: 90%;
  border: 1px solid orange;
}

.searchbox {
  padding: 0px 20px;
}
/*.searchbox:focus, .searchbox:hover {
  background-color: #fff;
}*/
/*.searchbox:focus + .searchbutton, .searchbox:hover + .searchbutton {
  background-color: #fff;
}*/
.searchbox:focus {
  outline: none;
  outline-offset: -1px;
}
.searchbox.placeholder {
 color: orange;
}
.searchbox:-moz-placeholder {
  color: orange;
}
.searchbox::-moz-placeholder {
 color: orange;
}
.searchbox:-ms-input-placeholder {
  color: orange;
}
.searchbox::-webkit-input-placeholder {
  color: orange;
}

.searchbutton {
  width: 70px;
  padding: 0;
  text-align: center;
  border-left: 1px solid #37a5bf; 
  border-radius: 0 25px 25px 0;
  border: 1px solid orange;
}
.searchbutton:hover, .searchbutton:focus {
  outline: none;
  cursor: pointer;
}


.example {
  width: 100%;
  position: absolute;
  top: -13px;
  text-align: center;
  margin: 0px 5px;
}

.walnut_filtr_button button{
  width: 60%;
  float: right;
  border: none;
  height: 48px;
  outline: none;
  position: relative;
  top: -9px;
  background: orange;
  color: #fff;
  font-weight: 600;
  font-size: 19px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 1px #e6e6e6;
}
.walnut_filtr_button button:focus{
  outline: none;
}
/*=======checkout css=========*/

.walnut_timelineNav{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
}
.wallnut_timelineOption{
  width: 165px;
  height: 155px;
  border-radius: 50%;
  border: 1px solid #FB7A00;
  background-color: #FB7A00;
  text-align: center;
  vertical-align: center;

}

.wallnut_timelineOptionActive{
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 2px solid #FB7A00;
  background-color: #6c757d;
  text-align: center;
  vertical-align: center;

}
.wn_timelineCon{
  padding: 0 !important;
}
.walnut_timelineLine{
  width: 21.3rem;
  height: 2px;
  background-color: #FB7A00;
}
.wallnut_timleineText{
  font-weight: bold;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  position: relative; 
  top: 38%;
  left: 0;
  right: 0;
}
.wallnut_timleineText:hover{
color: #fff;
text-decoration: none;
}

/*=======checkout address form css=========*/

.wallnut_addressForm{
  padding: 1.5rem;
  border: 1px solid #e3e3e3;
  margin-bottom: 6rem;
  /*margin-right: 10px !important;*/
  /*min-height: 100vh;*/
}

.wallnut_addressForm h3{
  text-align: left;
}

.wallnut_radioTxt{
  text-align: left;
}


.wallnut_dividerLine{
  width: 100%;
  height: 1px;
  background-color: #dbdbdb;
}

.wallnut_personalInfoField{
  display: flex;
  margin: 0 5px;
}
.wallnut_formIpFields{
  margin: 1rem 0;
  width: 50%;
  height: 48px;
  border: 1px solid #979797;
  border-radius: 25px;
  padding: 0px 20px;
}
.wallnut_formIpFields:focus{
  /*display: none;*/
  outline: none;
}
.wallnut_field1{
  margin-right: 1.5rem;
}
.wallnut_radioTxt{ 
  margin: 15px 0 15px 0;
}
.wallnut_radioTxt label{
  font-weight: bold;
}
.fieldLrg{
  width: 100%;
}
.wallnut_checkoutBtn{
  padding: 10px 8px;
  text-align: center;
  border-radius: 8px;
  width: 8rem;
  background-color: #FFB300;
  display: block;
  color: white;
  font-weight: bold;
}
.wallnut_checkoutBtn:hover{
  color: #fff;
  text-decoration: none;
}

.invisible{
  visibility: hidden;
}


/*==============checkout Order=============*/
.wallnut_imgContainer{
  position: relative;
  left: 6%; 
}
.wallnut_img{
     width: 120px;
    height: 168px;
  border: 1px solid #979797;
  /*padding: 15px 5px;*/
}
.wallnut_productName{
  text-align: center;
  border-top: 1px solid #979797;
  padding: 5px 0px;
font-weight: 600;
    font-size: 15px;
}
.wallnut_orderDetail{
  padding-top: 20px !important;
  padding: 0px 0 10px 15px;
  font-weight: 30px;
}
.wallnut_checkBtns{
  display: flex;
  padding: 20px 0; 
}
.wn_bakBtn{
  margin: 0 auto 0 0;
}

.wn_orderDiv{
  height: fit-content;
}

/*==============checkout Payment=============*/
.wn_customerDetail{
  font-weight: bold;
  display: flex;
  margin: 15px 0 5px 0;
}
.wn_paymentinfo{
  margin-top: 50px !important;
}

/*==========invoice==============*/
.wallnut_invoiceCon{
  padding: 1.5rem;
  border: 1px solid #979797;
  margin-bottom: 6rem;
  margin-top: 5rem 
}

.wallnut_invoiceTopSec{
  display: flex;
}
.wallnut_printBtn{
  margin-left: 550px;
  padding: 10px 8px;
  text-align: center;
  border-radius: 8px;
  width: 8rem;
  background-color: #FFB300;
  color: white;
  font-weight: bold;
}
.wn_orderDate{
  display: flex;
  margin: 20px 0;
}
.wallnut_invoiceSec{
  display: flex;
}
.wallnut_invoiceAdd{
  width: 60%;
  padding-right: 15px;
}
.wallnut_invoiceMethod{
  width: 40%;
  padding-left: 10px;
}

/*===============cart=================*/
.wallnut_cartHead{
  margin: 0 !important;
  background-color: #FB7A00;
  color: white;
  padding-top: 15px;
  padding-bottom: 10px;
}
.wallnut_cart{
  display: inline;
  height: auto;
  width: 75%;
  border: 1px solid #979797;
  border-top: none;
  margin: 50px auto 30px 30px;
}
.wn_cartMobTable{
  visibility: hidden;
  height: 0;
  margin: 0;
}

.wn_productRow{
  margin: 10px 0;
}
.wallnut_cartQnt::before{
  content: "-"
}
.wallnut_cartQnt::after{
  content: "+"
}
.wallnut_priceDetail{
 position: absolute;
    right: 0;
    top: 33%;
    border: 1px solid #dfdfdf;
  margin: 10px;
  margin-right: 30px;
  padding: 20px;
  width: 20%;
  background-color: #fafafa;
}
.wallnut_cartPlaceOrder{
  text-align: center;
}
.wallnut_checkoutBtn{
  margin-right: auto;
  margin-left: auto;
  padding: 10px 8px;
  text-align: center;
  border-radius: 8px;
  width: 8rem;
  background-color: #FB7A00;
  display: block;
  color: white;
  font-weight: bold;
}

/*===========Login==============*/

.wallnut_bannerImg{
  width: 100%;
}
.wallnut_bannerImg img{
  width: 100%;
}
.wallnut_loginCon{
  display: flex;
  width: 600px !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #979797;
  margin: 40px 0;
  border-radius: 20px;
}
.wallnut_loginUserImg{
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-top: 50px;
}
.wallnut_loginInput{
     margin: 1rem 0 !important;
    width: 80%;
    margin: 10px;
    border: 1px solid #979797;
    border-radius: 25px;
    padding: 7px 10px;

}
.wallnut_loginInput:focus{
  outline: none;
}
.wallnut_loginPgBtn{
  padding: 10px 8px;
  text-align: center;
  border-radius: 8px;
  width: 8rem;
  background-color: #FFB300;
  display: block;
  color: white;
  font-weight: bold;
    margin-top: 8px !important;
  margin: 20px auto;
}
.wallnut_loginPgBtn:hover{
  color: #fff;
  text-decoration: none;
}

.wallnut_loginOption{
  color: #a2d5f2;
  text-decoration: none; 
}
.wallnut_loginSocial{
  padding: 15px 0;
  margin-top: 12px;
  margin-bottom: 12px;
  }
.wn_solial_soc{
  padding: 8px 10px 9px 13px;
  background: black;
  color: white;
  border-radius: 100%;
  margin: 20px;

}

/*==========tracking timeline=============*/

/*.container{
  width: auto;
  margin: auto;
  margin-top: 70px;
  margin-bottom: 70px; 
}*/
.containers{
  width: auto;
  margin-left: 50px;
  margin-top: 70px;
  margin-bottom: 70px;
}

.wn_timeline{
  counter-reset: test 0; 
  position: relative;
}

.wn_timeline li{
  list-style: none;
  float: left;
  width: 23.3333%;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

ul:nth-child(1){
  color: #000;
}

.wn_timeline li:before{
  counter-increment: test;
  content: counter(test);
  width: 100px;
  height: 100px;
  border: 3px solid #FB7A00;
  border-radius: 50%;
  display: block;
  text-align: center;
  line-height: 90px;
  font-size:30px;
  margin: 0 auto 10px auto;
  background: #fff;
  color: #000;
  transition: all ease-in-out .3s;
  cursor: pointer;
}

.wn_timeline li:after{
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #FB7A00;
  top: 50px;
  left: -50%;
  z-index: -999;
  transition: all ease-in-out .3s;
}

.wn_timeline li:first-child:after{
  content: none;
}
.wn_timeline li.active-tl{
  color: #000;
  /*#555555*/
}
.wn_timeline li.active-tl:before{
  background: #FB7A00;
  color: #000;
}

.wn_timeline li.active-tl + li:after{
  background: #FB7A00;
}

/*============modal===========*/
.trackbtn{
  margin-top:6px;
}
.modal-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 1rem;
     border-bottom: 0px solid #e9ecef !important; 
    border-top-left-radius: .3rem;
  }
  .walnut_store_detail_banner img {
     height: auto; 
}
.walnut_store_banner img{
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.walnut_store_banner, .row{
  justify-content: center;
}

.walnut_store_detail_product_adv img{
    width: 100%;
    height: 250px;
    margin-top: 25px;
    margin-bottom: 0px;
}
.walnut_store_list_detail_product_adv img{
    width: 100%;
    height: 250px;
    margin-top: 25px;
    margin-bottom: 30px;
}
.offer_sec_walnut, .row{
      text-align: center;
}
.offer img{
    width: 70%;
    border-radius: 100%;
}
.walnut_prodetail {
      background: #FB7A00;
    position: relative;
    padding: 5px 0px;
    border-top: 1px solid #eee;
}
.walnut_prodetail {
    height: 80px;
    width: 100%;
}
.walnut_prodetail h3{
 margin-bottom: 0px;
}
.walnut_prodetail h3 a{
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.walnut_prodetail h4 a{
  color: #fff;
  font-size: 19px;
}
.walnut_prologo {
    padding: 6px;
    background: #fff;
    position: absolute;
    width: 80px;
    height: 80px;
    z-index: 9;
    top: -54%;
    right: 5px;
    border-radius: 40px;
}
.walnut_prologo img{
  width: 100%;
  height: 100%;
  border-radius: 40px;
}
.walnut_logoround:hover.walnut_prologo img:hover{
    transition: 0.70s;
  -webkit-transition: 0.70s;
  -moz-transition: 0.70s;
  -ms-transition: 0.70s;
  -o-transition: 0.70s;
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  -ms-transform: rotate(360deg);
  transform: rotate(360deg);
}
.walnut_store_detail_list{
  margin-top: 20px;
  margin-bottom: 30px;
}
.walnut_marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 53px;
    overflow-x: hidden;
    background: #FB7A00;
    color: #fff;
    margin-top: 0px;
}
.walnut_track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 10s linear infinite;
    font-size: 33px;
    font-weight: 600;
    text-shadow: 1px 1px 2px #b9b9b9;
    padding: 1px;
}
@keyframes marquee {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}
/*/============product details================/*/

  .wn_productdetails{
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    margin: 15px;
  }
.wn_productImg{
     padding: 0 !important;
    border: 1px solid #dbdbdb;
     /*border-bottom: none;*/
}
  .wn_moreImg{
   height: 60px;
    width: 60px;
    position: absolute;
    top: 5%;
    left: 40px;
    display: flex;
    flex-direction: column;
  }
  .pd_row{
    justify-content: space-around;
  }
  .wn_smImg{
    margin-top: 15px;
    border: 2px solid #979797;
    border-radius: 50%;
  }
  .wn_prodBtn{
    display: flex;
  }
  .wn_prodBtn a{
    padding: 15px 8px;
    background-color: #FB7A00;
    color: white;
  }
  .wn_prodBtn a:hover{
    color: #fff;
    text-decoration: none;
  }
  .wn_star{
    display: flex;
  }
  .wn_prodStock{
    color: #70d15f;
  }
  .wn_pro{
    display: flex;
  }
  .starColor{
    margin-top: 7px;
    color: yellow;
  }
  .fa-check{
    margin-top: 3px !important;
    border: 1px solid #70d15f !important;
    padding: 3px !important;
    font-size: x-large !important;
    border-radius: 50% !important; 
  }
  .wn_prodDetBtn{
    width: 50%;
    text-align: center;
  }
  .wn_offerList{
    list-style: none;
  }
  .wn_prodSize{
    text-align: center;
    padding: 3px;
    margin-right: 5px;
    background-color: #ffc107;
    color: black;
    width: 45px;
    height: 35px;
    border-radius: 8px;
  }
  .rm{
    margin-left: 10px;
  }

  .wn_color{
    margin-top: 4px;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    border: 1px solid #979797;
    border-radius: 50%;
  }
  .darkblue{
    background-color: blue;
  }
.yellow{
    background-color: yellow;
  }
.green{
    background-color: green;
  }
.red{
    background-color: red;
  }
.skyblue{
    background-color: #77cedc;
  }
  .yel{
    background-color: #ffc107 !important;
  }

.wn_head_title h1:after {
  content: '';
  display: block;
  width: 420px;
  height: 4px;
  background: #00969C;
  margin: 0 auto;
  margin-top: 15px;
  border-radius: 3px;
}
.wn_head_title h1 {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #00969C;
     margin-left: 20px; 
}

#wn_suggestedProduct{
  display: flex;
  justify-content: space-around;
}

.wn_suggItem{
  width: 300px;
  height: 456px;
  border: 1px solid #979797;
}
.test{
  padding-top: 10px;
  padding-left: 33px;
  border: none;
  border: 1px solid #FB7A00;
  background: linear-gradient(to right, #FB7A00 100%, white 0%);
  position: relative;
  outline: none;
  border-radius: 5px;
  color: #ffffff;
  width: 150px;
  height: 45px;
  font-size: 15px;
  margin-top: 20px;
  cursor: pointer;
  margin-left: 63px;
}
.test button{
 background: linear-gradient(to right, #FB7A00 100%, white 0%);
 border: none;
 margin:  
}
.wn_price{
  text-align: center;
}
.wn_wish{
  width: 50px;
  position: relative;
  left: 218px;
  top: 15px;
}
.wn_mainWish{
  position: relative;
  left: 89%;
  bottom: 81%;
  width: 65px;
}
.pd_row{
  margin: 0 !important;
}
#product_recom .item{
    background: #fff;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
       border-radius: 0px;
    text-align: center;
    border: 1px solid #FFC56D;
    box-shadow: 0px 0px 2px 1px #ffc56dad;
}
#similar_product .item{
    background: #fff;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
       border-radius: 0px;
    text-align: center;
    border: 1px solid #FFC56D;
    box-shadow: 0px 0px 2px 1px #ffc56dad;
}
#sameColorProd .item{
    background: #fff;
    padding: 30px 0px;
    margin: 5px;
    color: #FFF;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
       border-radius: 0px;
    text-align: center;
    border: 1px solid #FFC56D;
    box-shadow: 0px 0px 2px 1px #ffc56dad;
}
.wn_prodBan{
  height: 300px;
  padding: 0

}
.wn_prodBan img{
  height: 300px;
  width: 100%;
}

/*============about Us============*/
.flo{
  float: left !important;
}
.flo h1{
  float: left !important;
}
.bodCon{
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
}
/*=========thankyou========*/
.wn_tha{
  color: #00969C;
  margin: 110px 30px;
  text-align: center;
}

.wn_thaLink:hover{
  text-decoration: none !important;
}

/*===============fancybox css==============*/

/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  vertical-align: top;
}

.fancybox-wrap {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 8020;
}

.fancybox-skin {
  position: relative;
  background: #f9f9f9;
  color: #444;
  text-shadow: none;
  border-radius: 4px;
}

.fancybox-opened {
  z-index: 8030;
}

.fancybox-opened .fancybox-skin {
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
  position: relative;
}

.fancybox-inner {
  overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
  -webkit-overflow-scrolling: touch;
}

.fancybox-error {
  color: #444;
  font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  margin: 0;
  padding: 15px;
  white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
  display: block;
  width: 100%;
  height: 100%;
}

.fancybox-image {
  max-width: 100%;
  max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
  background-image: url(fancybox_sprite.png);
}

#fancybox-loading {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -22px;
  margin-left: -22px;
  background-position: 0 -108px;
  opacity: 0.8;
  cursor: pointer;
  z-index: 8060;
}

#fancybox-loading div {
  width: 44px;
  height: 44px;
  background: url(fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
  position: absolute;
  top: -18px;
  right: -18px;
  width: 36px;
  height: 36px;
  cursor: pointer;
  z-index: 8040;
}

.fancybox-nav {
  position: absolute;
  top: 0;
  width: 40%;
  height: 100%;
  cursor: pointer;
  text-decoration: none;
  background: transparent url(blank.gif);
   helps IE 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  z-index: 8040;
}

.fancybox-prev {
  left: 0;
}

.fancybox-next {
  right: 0;
}

.fancybox-nav span {
  position: absolute;
  top: 50%;
  width: 36px;
  height: 34px;
  margin-top: -18px;
  cursor: pointer;
  z-index: 8040;
  visibility: hidden;
}

.fancybox-prev span {
  left: 10px;
  background-position: 0 -36px;
}

.fancybox-next span {
  right: 10px;
  background-position: 0 -72px;
}

.fancybox-nav:hover span {
  visibility: visible;
}

.fancybox-tmp {
  position: absolute;
  top: -99999px;
  left: -99999px;
  max-width: 99999px;
  max-height: 99999px;
  overflow: visible !important;
}

 /*Overlay helper */
.fancybox-lock {
  overflow: visible !important;
  width: auto;
}

.fancybox-lock body {
  overflow: hidden !important;
}

.fancybox-lock-test {
  overflow-y: hidden !important;
}

.fancybox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  display: none;
  z-index: 8010;
  background: rgba(0, 0, 0, 0.5);
}

.fancybox-overlay-fixed {
  position: fixed;
  bottom: 0;
  right: 0;
}

.fancybox-lock .fancybox-overlay {
  overflow: auto;
  overflow-y: scroll;
}

/* Title helper 
.fancybox-title {
  visibility: hidden;
  font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
  position: relative;
  text-shadow: none;
  z-index: 8050;
}

.fancybox-opened .fancybox-title {
  visibility: visible;
}

.fancybox-title-float-wrap {
  position: absolute;
  bottom: 0;
  right: 50%;
  margin-bottom: -35px;
  z-index: 8050;
  text-align: center;
}

.fancybox-title-float-wrap .child {
  display: inline-block;
  margin-right: -100%;
  padding: 2px 20px;
  background: transparent;
  /* Fallback for web browsers that doesn't support RGBa */
  background: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  text-shadow: 0 1px 2px #222;
  color: #FFF;
  font-weight: bold;
  line-height: 24px;
  white-space: nowrap;
}

.fancybox-title-outside-wrap {
  position: relative;
  margin-top: 10px;
  color: #fff;
}

.fancybox-title-inside-wrap {
  padding-top: 10px;
}

.fancybox-title-over-wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  padding: 10px;
  background: #000;
  background: rgba(0, 0, 0, 0.8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
    background-image: url(https://fancyapps.com/fancybox/source/fancybox_sprite.png);
    background-size: 44px 152px;
    /*The size of the normal image, half the size of the hi-res image*/
  }

  #fancybox-loading div {
    background-image: url(https://fancyapps.com/fancybox/source/fancybox_loading@2x.gif);
    background-size: 24px 24px;
    /*The size of the normal image, half the size of the hi-res image*/
  }
}
.gallery-viewer {
  margin-top: 30px !important;
  margin-bottom: 0 !important;
}

.wallnut_cartQnt{
  font-size: 20px;
}
.wallnut_orderDetail h3{
  font-size: 20px !important;
}
.wn_productRow h3{
  font-size: 18px !important;
}
.size18{
   font-size: 18px !important;
}

/*=====================cartdropdown css=======================*/

#addtocart {
  width: 250px;
}

.badge {
  background-color: red;
  border-radius: 10px;
  color: white;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.shopping-cart {
  background: white;
  width: 320px;
  position: absolute;
 top: 45px;
  right: 10px;
  border-radius: 3px;
  padding: 20px;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26) !important;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  opacity: 0;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(0);
  transform-origin: right top 0;
  transform: scale(0);
}
.shopping-cart.active {
  opacity: 1;
  -webkit-transform-origin: right top 0;
  -webkit-transform: scale(1);
  transform-origin: right top 0;
  transform: scale(1);
  z-index: 99;
}
.shopping-cart .shopping-cart-header {
  border-bottom: 1px solid #E8E8E8;
  padding-bottom: 35px;
}
.shopping-cart .shopping-cart-header .shopping-cart-total {
  float: right;
      font-size: 19px;
    font-weight: 600;
}
.shopping-cart .shopping-cart-items {
  padding-top: 20px;
}
.shopping-cart .shopping-cart-items li {
  margin-bottom: 18px;
   /*   text-decoration: none;
    list-style-type: none;*/
}
.shopping-cart .shopping-cart-items img {
  float: left;
  margin-right: 12px;
  max-width: 70px;
  max-height: 70px;
  margin-top: 20px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.shopping-cart .shopping-cart-items .item-name {
  display: block;
  font-size: 15px;
}
.shopping-cart .shopping-cart-items .item-detail {
  display: block;
  font-size: 12px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.shopping-cart .shopping-cart-items .item-price {
  color: #00c0cb;
  margin-right: 8px;
  font-size: 15px;
}
.shopping-cart .shopping-cart-items .item-quantity {
  color: #ABB0BE;
  font-size: 15px;
}

.shopping-cart:after {
  bottom: 100%;
  left: 89%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: white;
  border-width: 8px;
  margin-left: -8px;
}

.cart-icon {
  color: #515783;
  font-size: 24px;
  margin-right: 7px;
  float: left;
}

.buttonv {
 background: #f8770c;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    display: block;
    border-radius: 3px;
    font-size: 14px;
    margin: 5px 0 5px 0;
    text-transform: uppercase;
    width: 120px;
    display: inline-flex;
    text-align: center;
    justify-content: center;
}
.buttonv:hover {
  background: #f87f1b;
  text-decoration: none;
  color: #fff;
}
.button i {
  padding-left: 5px;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.walnut_whislist i{

    font-size: 30px;
    position: absolute;
    top: 30%;
    bottom: 0;

}
.itemp h2{
      font-size: 18px;
    float: left;
        margin: 3px;
}


/*============contact us==============*/
.wn_contact{
  width: 700px !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #979797;
  margin: 40px 0;
}

textarea {
  width: 100%;
  height: 208px;
  resize: none;
  border: 0;
  border: 1px solid #979797;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  padding: 20px;
}

.wallnut_sendBtn{
  margin-top: 30px;
  margin-bottom: 30px;
  padding: 10px 8px;
  text-align: center;
  border-radius: 8px;
  width: 8rem;
  background-color: #FFB300;
  display: block;
  color: white;
  font-weight: bold;
}



/*=====new COntact=====*/

.contact-us{
  width: 250px;
  background: #fff;
  padding: 50px;
  margin: 30px auto;
  border-radius: 30px;
  position: relative;
}

.title h1{
  color: #535274;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

.form,
.form-items{
  width: 100%;
}

.form-items .input{
  width: 100%;
  margin-bottom: 12px;
  padding: 15px 40px;
  box-sizing: border-box;
  background: #ebeef1;
  border: 0px;
  outline: none;
  border-radius: 30px;
}

.form-items .input.message{
  height: 125px;
  border-radius: 15px;
  margin-bottom: 30px;
  padding: 15px 15px;
}

.newConBtn{
  background: #FB7A00;
  text-align: center;
  color: #fff;
  padding: 12px;
  border-radius: 25px;
  cursor: pointer;
  width: 100%;
}

.btn .fas{
  margin-left: 10px;
  font-size: 12px;
}

.form-items{
  position: relative;
}

.form-items .fas{
  position: absolute;
  top: 15px;
  left: 15px;
  color: #9a99aa;
}

.social-icons{
  position: relative;
  top: 25px;
  left: 50%;
  width: 200px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
}

.social-icons div{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}


.social-icons div .fab{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  color: #fff;
}

.social-icons div.facebook{
  background: #5178d9;
}

.social-icons div.twitter{
  background: #41caf6;
}

.social-icons div.google{
  background: #fb4f4f;
}

.fa-user{
  position: relative;
  bottom: 50px;
  left: -244px !important;
}
.fa-envelope{
  position: relative;
  bottom: 50px;
  left: -244px !important;
}
.contactRow{
  padding: 60px 0 !important;
}
.ConFb{
  position: relative;
  top: 13px;
  left: 0 !important;
} 
.conTwit{
  position: relative;
  top: 13px;
  left: 0 !important;
} 

.fa-google-plus-g{
  position: relative;
  top: 13px;
  left: 0 !important;
}  

.newtitle h1:after {
    content: '';
    display: block;
    width: 100px;
    height: 4px;
    background: #FB7A00;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 3px;
}

.form-items textarea{
  resize: none;
}

.newConMap{
  padding-top: 100px;
}


/*=========Loyalty========*/

.price_details{
  border: 1px solid #e8e8e8;
  margin-left: 20px;
  margin-bottom: 20px;  
}

.price_detailsHead{
  border-bottom: 2px solid #e8e8e8;
}
.loRow{
  margin: 0 10px 0 10px !important;
}
.wn_applyBtn{
  text-decoration: none;
  background-color: #FB7A00;
  color: #fff;
  /*border: 1px solid #8bcdcd;*/
  margin-left: 4px;
  border-radius: 5px;
  padding: 5px 10px;
}
.wn_applyBtn:hover{
  text-decoration: none;

}

.wn_Lip{
  border:none;
  outline: none;
  border:1px solid #e8e8e8;
  border-radius: 5px;
  padding: 3px 6px;
}

.loTitle{
  text-align: left;
  padding: 30px 0 15px 0;
}
.loTitle h5{
  /*font-weight: 900;*/
  color: #00969c;
  margin-bottom: 0; 
}

.loH5{
  font-size: 18px !important;
}

.ptText{
  font-size: 12px !important;
  margin-top: 15px;
}

.loRadio{
  text-align: left;
}
.loRadio label{
  margin-bottom: 0;
}
.losmall{
  text-align: left;
}
.losmall h6{
  margin-left: 25px;
  font-size: 12px;
}

.loRadio input{
  margin-top: 6px;
  margin-right: 10px;
  height: 1.2rem;
}

.text_lo{
  margin: 20px 0 20px 0;
  text-decoration: underline;
  font-size: 14px !important;
}

/*========acc Info=======*/
.mainDash{
  border: 1px solid #e8e8e8;
}

.wn_dash{
  list-style: none;
}
.wn_dash li{
  padding: 10px;
  border-bottom: 2px dotted #8bcdcd;
}
.ai_div{
   border: 1px solid #e8e8e8;
   padding: 20px 0 20px 30px !important;
   text-align: left;
   height: 100%;
}
.ai_div h4{
   color: #00969c;
   padding-bottom: 15px;
   margin-right: 30px;
   border-bottom: 2px solid #00969c;
}

.textColler{
 color: #00969c;
}

.Dtitle{
  padding-top: 30px !important;
  font-weight: bolder;
  color: #FB7A00;
}

.redBtn{
  position: relative;
  left: 200px;
  bottom: 40px;
  padding: 8px 35px;
  border-radius: 20px;
  background-color: #FB7A00;
  color: #fff;

}
.redBtn:hover{
  text-decoration: none;
  color: #fff;
}

.botBorder{
  border-bottom: none !important;
}

.sellBtn{
  padding: 8px 25px;
  border-radius: 20px;
  background-color: #FB7A00;
  color: #fff;
  position: relative;
  top: 50px;

}
.od_div{
  text-align: center;
}
.bodDiv{
  border: 1px solid #e8e8e8;
  position: relative;
  bottom: 278px;
  padding: 25px 0 !important;
}
.totalO{
  position: relative;
  left: 28%;
  margin-bottom: 30px;
  height: 150px;
  width: 150px;
  padding: 30px;
  border-radius: 50%;
  border: 8px solid #a6f6f1;
  text-align: center;
}
.cirTxtAlign{
  position: relative;
  top: 24%;
  left: -3%;
}

.pendingO{
  position: relative;
  left: 28%;
  margin-bottom: 30px;
  height: 150px;
  width: 150px;
  padding: 30px;
  border-radius: 50%;
  border: 8px solid #ffe05d;
  text-align: center;
}

/*========wishlist=======*/
.wish_li{
  border-bottom: 1px solid #e8e8e8;
}
.wish_title_li{
  display: flex;
  align-items: flex-start;
}
/*.wish_title{
  position: relative;
  right: 40%;
}*/
.wish_binIcon{
  color: #7e7474;
 
}
.wish_binIcon svg{
   margin-top: 50px;
}
.wishlist_proName{
  margin-top: 30px;
}

.wishlist_prodTitle{
  text-align: left;
}

.wish_ul{
  list-style-type: none;
}

.wislist_prodImg img{
  height: 122px;
  width: 100px;
}
.wish_li{
  padding: 30px;
}

.wish_con{
  margin: 30px;
  border: none;
  box-shadow: 5px 10px 17px #c7c3c3;
}